<!DOCTYPE html>
<html lang="en" ng-app="">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular JS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>

<body>

  <textarea ng-model="name"></textarea>
  <div data-ng-bind="name"></div>
  <div> 10 * 10 = {{10 * 10}}</div>
  <div ng-init="language='AngularJS'">
    {{'language'}} {{language}}
  </div>
  Your Preffer Language: <input type="text" name="PreferLanguage" ng-model="language">
</body>

</html>
